.asteriskField {
    display: none;
}

.left {
    margin: left;
    width: 50%;
    border: 3px;
    padding: 10px;
}

.top-buffer { 
  position: relative;
  margin-top: 0px; 
}

.btn-file {
    position: relative;
    overflow: hidden;
    background: #eee;
    border: 0;
    opacity: 1;
    top: 0;
    right: 0;
    text-align: right;
    padding-left: 1%;
    padding-bottom: 3%;
}

div.messages {
  float:left;
  cursor: pointer;
  display: block;
  position: fixed;
  bottom: 2pt;
  width: 50%;
  left: 50%;
  z-index: 80;
  /*background-color: #666;*/
  /*border: #999 solid 1px;*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

div.messages_list > ul.messages {
  /*margin: auto;*/
  margin: 10px;
  margin-top: 0px;
}

div.messages_list > ul.messages > li {
  display: block;
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 26px;
  padding-right: 4px;
  background-repeat: no-repeat;
  background-position-x: 4px;
  background-position-y: center;
  color: white;
}
