<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Walmart</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/scrolling-nav.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'css/walmart.css' %}" rel="stylesheet">

    <!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Scrolling Nav JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/scrolling-nav.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/generic.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
    <script src="{% static 'js/jquery-ui.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>

    {% block head %}{% endblock %}

</head>

<!-- The #page-top ID is part of the scrolling feature - the data-spy and data-target are part of the built-in Bootstrap scrollspy function -->

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

        {% include '_navigations.html' %}
        {% block sessions %}{% endblock %}


    <script type="text/javascript">

        function show_message_panel(delay) {
            if (delay === undefined) delay = 250;
            $("div.messages").delay(delay).show("slide", {direction: "down"});
        }

        {% if messages %}
            $(show_message_panel);
        {% endif %}

    </script>

    <div class="messages" style="display: none;">
        <div id="messages_list" class="messages_list">
            <ul class="messages">{% include "_messages.html" %}</ul>
        </div>
    </div>
    

    <script type="text/javascript">
        $(function () {
            $("div.messages").click(function () {
                $("div.messages").hide("slide", {direction: "down"});
            });
        });

        function show_messages(response) {
            $("div#messages_list ul.messages li").addClass("obsolete");

            if (response.messages) {
                $("div#messages_list ul.messages li").addClass("obsolete");

                if ($("div.messages").css("display") == "none") {
                    // User already closed the Messages panel
                    $("div#messages_list ul.messages").html(response.messages);
                    show_message_panel(0);
                } else {
                    // The Messages panel is still open
                    $("div#messages_list ul.messages").prepend(response.messages);
                    $("div#messages_list ul.messages li.message").hide().show("slide", {direction: "down"});
                }
            }
        }
    </script>
    </body>


</html>

    