{% spaceless %}
    {% for message in messages %}

          <li class="message"> 
            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade in" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <strong>{{ message.tags|title }}!</strong> {{ message }}
            </div>
          </li>          
    {% endfor %}
{% endspaceless %}