{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block head %}
    <script type="text/javascript" src="{% static 'js/walmart.js' %}"></script>
{% endblock %}

{% block sessions %}

    <section id="session-create-map" class="map-section">
        <div class="container">
            <div class="row">
            <div class="col-md-6 text-left"><h2><small>Cadastrar Mapa</small></h2></div>
            <div class="col-md-6 text-left"><h2><small>Lista de Mapas</small></h2></div>
            <div class="col-md-6 text-left">
                {% crispy logistics_mesh_form %}
            </div>
            <div class="col-md-6">
                    <h5><strong>Mapas</strong></h5>
                    <ul class="list-group " id="maps_list">
                        {% for map in maps_list %}
                            <li class="list-group-item" id='li_{{map.id}}'>
                            <a href="#" class="text-left" code='{{map.id}}'
                            data-toggle="modal" data-target="#modal-graph"
                            onclick="show_graph({{map.id}})">
                                {{ map.description }}
                            </a>
                            </li>
                        {% endfor %}
                    </ul>
            </div>
            </div>
        </div>
    </section>

    <section id="session-search-path" class="search-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left"><h2><small>Parametros para consulta</small></h2></div>
                <div class="col-md-6 text-left"><h2><small>Ilustração do mapa</small></h2></div>
                <div class="col-md-6 text-left">
                    {% crispy search_path_form %}
                </div>
                <div class="col-md-6">
                    <img src="{% static 'images/graph-draw-arf.png' %}" alt="Smiley face" height="360" width="360"> 
                </div>
            </div>
        </div>
    </section>

    <section id="session-result" class="result-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 text-left"><h2><small>Mapa</small></h2></div>
                <div class="col-md-3 text-left"><h2><small>Menor Caminho</small></h2></div>
                <div class="col-md-3 text-left"><h2><small>Distância</small></h2></div>
                <div class="col-md-3 text-left"><h2><small>Custo do Combustível</small></h2></div>
                <br>
                <div class="col-md-3 text-left"><h3 id="result_map"></h3></div>
                <div class="col-md-3 text-left"><h1 id="result_shortestpath"></h1></div>
                <div class="col-md-3 text-left"><h1 id="result_distance"></h1></div>
                <div class="col-md-3 text-left"><h1 id="result_costliter"></h1></div>
            </div>
        </div>
        </div>
    </section>

    <!-- Modal -->
  <div class="modal fade" id="modal-graph" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Malha Logística</h4>
        </div>
        <div class="modal-body" id='mesh-content'>
          <!-- <p>Some text in the modal.</p> -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        </div>
      </div>
      
    </div>
  </div>

{% endblock %}